*{
    margin:0px;
    padding: 0px;
}
.navbar {
    background-color: black ;
    padding: 15px 0px ;
    height:80px;
}
.custom-nav {
    margin-left: auto; 
}

.custom-nav .nav-link {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: white ;
    margin: 0 10px;
    transition: 0.3s ease;
}

/* Hover effect */
.custom-nav .nav-link:hover {
    color: rgb(248, 103, 19) ;
    transform: scale(1.05);
}

/* Active link styling */
.custom-nav .nav-link.active {
    color: rgb(248, 103, 19);
    font-weight: bold;
    border-bottom: 2px solid rgb(248, 103, 19);
}

.nav-item{
    color: #d42727;

}
#home,#projects,#contact{
    align-items: center;
    height: 100vh;
    position: relative;
}
#education,#experience{
    align-items: center;
    height: 100vh;
    position: relative;
    background-color:rgb(243, 239, 239);
}
#home h2, #projects h2,#contact h2{
    color:#635b5b;
    margin: 20px 0px 0px 750px;
    font-family: 'Times New Roman', Times, serif;
}
 #education h2, #experience h2{
    color: rgb(49, 33, 33);
    margin: 20px 0px 0px 750px;
    font-family: 'Times New Roman', Times, serif;
 }
#education h3,#contact h3{
    margin:10px 0px 12px 15px;
    color:#f08f5b;
}
#education h4,#contact h4{
    margin:0px 0px 20px 40px;
    color:#4F5C4A;
}
#contact{
    align-items: center;
    height: 70vh;
}
#contact a,p{
    text-decoration: none;
    color:#4F5C4A;
}
.card{
    width:520px;
    height: 300px;
    margin: 20px 60px 20px 20px;
}
.card-body{
    flex-direction: row;
}
