* {
    margin: 0;
    padding: 0;
}
#navbar {
    background-color:#0D0D0D;
    color:#FFFFFF;
    display: flex;
    height:70px;
}
#navbar a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 20px 0px 0px 130px;
}
#navbar h1{
    margin: 15px 250px 0px 20px;
}
#navbar a:hover{
    color: #f08f5b;
}
#home,#education,#projects,#education,#experience,#contact{
    align-items: center;
    height: 100vh;
    position: relative;
}
#home h2, #education h2, #projects h2, #experience h2,#contact h2{
    color:#635b5b;
    margin: 20px 0px 0px 750px;
}
.container{
    margin:70px 0px 0px 50px;
}
#education h3{
    margin:10px 0px 12px 15px;
    color:#f08f5b;
}
#education h4{
    margin:0px 0px 20px 40px;
    color:#4F5C4A;
}
