*{
    margin: 0;
    padding: 0;
}
#navbar {
    background-color:#0D0D0D;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.message-box {
  min-height: 160px;
  resize: vertical;
}

#contact .form-control {
  padding: 12px;
  font-size: 16px;
}

#contact a,
#contact p {
    text-decoration: none;
    color: #24481a;
}

body {
    overflow-x: hidden;
}

.resume-btn {
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color: #e7993b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#home .button-wrapper{
    padding-left: 600px;
    padding-top:40px;
}
#contact .button-wrapper{
    padding-left: 250px;

}
.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 260px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 240px;
    top: 10px;
    height: 100%;
    width: 4px;
    background-color: #e7993b;
}

.step {
    position: relative;
    margin: 20px 0;
    padding-top: 40px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.step::before {
    content: "";
    position: absolute;
    left: -26px;
    top: 70px;
    width: 12px;
    height: 12px;
    background-color: #e7993b;
    border-radius: 50%;
}
#experience p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
