*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 40px 0;
}

.navbar {
    background-color: black;
    padding: 15px 20px;
    min-height: 80px;
}

.custom-nav {
    margin-left: auto;
}

.custom-nav .nav-link {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    margin: 0 10px;
    transition: 0.3s ease;
}

.custom-nav .nav-link:hover {
    color: rgb(248, 103, 19);
}

.custom-nav .nav-link.active {
    color: rgb(248, 103, 19);
    font-weight: bold;
    border-bottom: 2px solid rgb(248, 103, 19);
}

#home,
#projects,
#education,
#experience {
    min-height: 100vh;
}


#education,
#experience {
    background-color: rgb(243, 239, 239);
}


section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #635b5b;
}


#home p {
    color: #793410;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


.card {
    width: 100%;
    height: auto;          
    margin: 0;            
}

.card-body {
    display: block;
}

#contact {
    min-height: 70vh;
}

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    width: 100%;
    max-width: 600px;      
}

#contact a,
#contact p {
    text-decoration: none;
    color: #4F5C4A;
}

body {
    overflow-x: hidden;
}
button{
    padding: left 50%; 
}
